<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<h2>Login form</h2>
<form>

   <input placeholder="Type email"></input>
   <input placeholder="Type password"></input>
</form>

</body>
</html>